@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* add ten new variables for the background gradient*/
  --background1-hex: #1eff85;
  --background2-hex: #3af3ffdf;
  --background3-hex: #1c18e6a3;
  --background4-hex: #fa1eff;
  --background5-hex: #ff813a;
  --background6-hex: #ffeb3a;
  --background7-hex: #d6dbdc;
  --background8-hex: #ffffff;
  --background9-hex: #d6dbdc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
  font-family: 'Manrope', sans-serif;
}

.circle0 {
  translate: -50% -50%;
  position: absolute;
  width: 1100px;
  height: 400px;
  border-radius: 600px;
  background-color: #ffffff;
  filter: blur(80px);
  z-index: 12;
}

.circle1 {
  translate: -50% -50%;
  position: absolute;
  width: 1000px;
  height: 1800px;
  border-radius: 600px;
  mix-blend-mode: overlay;
  background: radial-gradient(
    circle at right,
    var(--background1-hex) 0%,
    var(--background2-hex) 37.9%,
    rgba(255, 255, 255, 0) 66.67%
  );
  animation: rotate 15s linear infinite;
}

.circle2 {
  translate: -50% -50%;
  position: absolute;
  width: 1200px;
  height: 1800px;
  border-radius: 600px;

  background: radial-gradient(
    circle at right,
    rgba(250, 30, 255, 0) 0%,
    var(--background3-hex) 0.01%,
    var(--background4-hex) 18.23%,
    rgba(255, 255, 255, 0) 66.67%
  );
  animation: rotateinv 20s linear infinite;
}

.circle3 {
  translate: -50% -50%;
  position: absolute;
  width: 800px;
  height: 1300px;
  border-radius: 600px;

  background: radial-gradient(
    86.86% 86.86% at 33.13% 1.99%,
    rgba(255, 255, 255, 0) 45.83%,
    var(--background5-hex) 92.71%,
    var(--background6-hex) 100%
  );
  animation: rotate 18s linear infinite;
}

@media only screen and (max-width: 600px) {
  .circle1 {
    width: 900px;
    height: 900px;
    position: fixed;
  }

  .circle2 {
    width: 900px;
    height: 900px;
    position: fixed;
  }

  .circle3 {
    width: 900px;
    height: 900px;
    position: fixed;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotateinv {
  100% {
    transform: rotate(-2turn);
  }
}

/* css class for text shadow */
.text-shadow {
  text-shadow: 1px 5px 4px rgba(0, 0, 0, 0.2);
}

.loader1 {
  translate: -50% -50%;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 600px;
  mix-blend-mode: overlay;
  background: radial-gradient(
    circle at right,
    #1eff85 0%,
    rgba(58, 243, 255, 0.874892) 37.9%,
    rgba(255, 255, 255, 0) 66.67%
  );
  animation: rotate 8s linear infinite;
}

.loader2 {
  translate: -50% -50%;
  position: absolute;
  width: 170px;
  height: 150px;
  border-radius: 600px;

  background: radial-gradient(
    circle at right,
    rgba(250, 30, 255, 0) 0%,
    rgba(28, 24, 230, 0.64) 0.01%,
    #fa1eff 18.23%,
    rgba(255, 255, 255, 0) 66.67%
  );
  animation: rotateinv 5s linear infinite;
}

.loader3 {
  translate: -50% -50%;
  position: absolute;
  width: 130px;
  height: 160px;
  border-radius: 600px;

  background: radial-gradient(
    86.86% 86.86% at 33.13% 1.99%,
    rgba(255, 255, 255, 0) 45.83%,
    #ff813a 92.71%,
    #ffeb3a 100%
  );
  animation: rotate 9s linear infinite;
}
